@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: indigo;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px auto;
  background-color: whitesmoke;
  min-height: 85vh;
  height: auto;
  width: 90%;
  border-radius: 20px;
  box-sizing: border-box;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.header {
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-left: 35px;
  font-family: "Lobster", sans-serif;
  color: indigo;
  font-size: 2.2em;
  text-decoration: none;
}

/* **************************************************************************************** */

.splash {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.featured,
.info {
  width: 45%;
  min-width: 300px;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  border-left: 0.8px solid black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  box-sizing: border-box;
  padding: 0 70px;
  text-transform: uppercase;
  color: indigo;
  margin-top: 40px;
}

.difference {
  color: rgb(203, 70, 207);
}

.featured {
  flex-direction: column;
  box-sizing: border-box;
}

.card {
  max-width: 250px;
  padding-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
  margin: 20px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card:hover {
  cursor: pointer;
  transition: all 0.1s linear;
  transform: scale(1.01);
}

.featured-img {
  max-width: 100%;
  border-radius: 3px 3px 0 0;
}

.featured-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: indigo;
  padding: 0 10px;
}

.featured-country {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: indigo;
  padding: 0 10px;
  align-self: flex-end;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.button {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  outline: none;
  color: white;
  padding: 10px;
  background-color: rgb(203, 70, 207);
  border: 0.8px solid rgb(215, 88, 219);
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
  font-size: 0.85em;
}

.button:hover {
  cursor: pointer;
  transition: all 0.1s linear;
  transform: scale(1.01);
}

.form {
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  height: 30px;
  max-width: 400px;
  width: 100%;
  background-color: white;
  border: 0.8px solid rgb(197, 197, 197);
  border-radius: 30px;
  margin: 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  flex-grow: 1;
  margin: 0 10px 0 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.input:focus {
  border: none;
  outline: none;
}

.icon {
  margin-right: 10px;
  color: indigo;
}

.icon:hover {
  cursor: pointer;
}

.icon-red {
  margin-right: 10px;
  color: rgb(255, 0, 0);
}

.grid {
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.spinner-container {
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************************************************************************** */

@media screen and (max-width: 880px) {
  .info {
    border: none;
  }

  .featured {
    margin-top: 30px;
  }

  .featured,
  .info {
    height: 50vh;
  }
}
